@font-face {
	  font-family: "smart";
	  src: url(../fonts/smart.otf);
  }  

@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

  .contents{
    margin: 0 auto;
    font-family: "smart";
  }

  a{
    font-family: "smart";
  }

  ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  h1{
    font-family: "smart";
    color: #ffffff;
    font-size: 100px;
  }

  h2{
    font-family: "smart";
    color: #ffffff;
    font-size: 40px;
  }

  h3{
    color: #ffffff;
    font-family: "smart";
    font-size: 25px;
  }

  h4{
    color: #ffffff;
    font-family: "smart";
    font-size:20px;
  }

  p{
    color: #ffffff;
    font-size:18px;
    font-family: "smart";
  }
  
  body {      
    margin: 0;
    background-color:#020202;
    margin-left: 5%;
    margin-right: 5%;
  }

  .i{
    color: #f8bb16;
    color: #cc302f;
    color: #e7512a;
    color: #086aae;
    color: #199154;
  }
  
  li {
    display: table-cell;
    width: 30%;
    height: 30%;
  }

  ul {
    width: 100%;
    height: 100%;
  }

  #prof{
    width: 15%;
    height: 15%;
  }

  img{
    width: 100%;
    height: 100%;
    box-shadow: rgb(236, 235, 235);
  }

  .back{
    color:#ffffff;
  }

  .work{
    width: 50%;
    height: 50%;
  }

  .frame{
    border: 3px solid;
    border-image: linear-gradient(
      90deg,#1abc9c 3%,#2ecc71 3%,#2ecc71 3%,#3498db 12%,#3498db 32%,#9b59b6 32%,#9b59b6 35%,#3d5d7c 35%,#5e7c9b 55%,
      #f1c40f 55%,#f1c40f 59%,#e67e22 59%,#e67e22 63%,#e74c3c 63%,#e74c3c 82%,#eb72b5 82%,#eb72b5 92%,#ecf0f1 92%);
    border-image-slice:1;
  }

  .link {
    color: #ffffff;
    display: inline-block;
    font-size: 20px;
    font-family: "smart";
    line-height: 40px;
    width: 100px;
    position: relative;
    text-decoration: none;
    text-align: center;
    border: 1px solid transparent;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
  }
  
  .link:hover {
    border-color: #FFF;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: transparent;
    outline-offset: 12px;
    text-shadow: 2px 2px 3px #000;
  }
  .pc { display: block !important; }
  .phone { display: none !important; }

  .sl_wide{
    width: 75%;
    height: auto;
  }
  
  .sl_height{
    width: 25%;
    height: 25%;
  }
  
  .slider_img{
    width: auto;
    height: auto;
  }

  

@media screen and (max-width: 896px) { 
  h1{
    font-family: "smart";
    color: #ffffff;
    font-size: 75px;
  }

  h2{
    font-family: "smart";
    color: #ffffff;
    font-size: 30px;
  }

  h3{
    color: #ffffff;
    font-family: "smart";
    font-size: 18px;
  }

  h4{
    color: #ffffff;
    font-family: "smart";
    font-size:20px;
  }

  p{
    font-size: 10px;
  }

  .link{
    font-size: 10px;
    line-height: 20px;
    width: 50px;
  }
  
  li {
    display: table-cell;
    width: 50%;
    height: 50%;
  }
  ul {
    width: 100%;
    height: 100%;
  }

  .pc { display: none !important; }
  .phone{ display: block !important; }

  
} 
