
header{
  position: fixed;
  width: 100%;
  height: 70px;
  background: #0f1e31;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  border-radius:0 0 35px 35px;
  box-shadow : 0 0 8px #414141;
}
.title{
  color: #fdfdfd;
  font-size: 20px;
  font-weight: bold;
}
.header__inner{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__navgroup{
  margin-left: auto;
  display: flex;
  flex: none;
}
.header__navgroup > * + *{
  margin-left: 60px;
}
.header__navitem{
  font-size: 16px;
  color: #fdfdfd;
}
.header__navitem a{
  color: #fdfdfd;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  display: inline-block;
}
.header__navitem a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #fdfdfd;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.header__navitem a:hover::after {
  transform: scale(1, 1);
}

.example {
  position: relative;
  }

.example h3 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: #06061d;
}

.example p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: #06061d;
  font-weight: bold;
}

.example img {
  width: 100%;
  background-color: blue; /* カラーフィルタ効果の色を指定 */
  display: inline-block;  /* (任意：インラインブロック化したい場合) */
  opacity: 0.2;    /* カラーフィルタ効果の度合いを指定(※) */
  display: block;
  border-radius: 15px;
}

h1 {
  color: #0b0b1b;
  font-size: 60px;
  margin: 5px
}
  h2{
    color: #0b0b1b;
    font-size: 40px;
  }

  h3{
    color: #0b0b1b;
    font-size: 28px;
  }
  h4{
    color: #0b0b1b;
    font-size:20px;
    margin: 3px;
  }

  p{
    color: #0b0b1b;
    font-size: 18px;
    margin: 0;
  }

#i1{
  background-image: url("../image/work1/a.jpg");
  overflow : hidden;
  background-repeat: no-repeat;
  background-position: center;
}
#i2{
    background: linear-gradient( to right ,#d39206,#e95960);
    overflow : hidden;
}
#i3{
    background: linear-gradient(#dac50c, #fcb64e );
    overflow : hidden;
}
  body {      
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  background-color:#f7f7ff;
  margin: 0;
  }
  
  main{
    background-color:#feffff;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 150px;
    padding-right: 3%;
    padding-left: 3%;
    margin-bottom: 200px;
  }
  .top{
    width: 100%;
  }
  
  ul{
    list-style: none;
    padding: 0;
  }
  
  li{
  width: 85%;
  height: 450px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 25px;
  overflow: hidden;	/*拡大時にはみ出た部分を隠す*/
	transition-duration: 0.2s;	/*変化に掛かる時間*/
  box-shadow: 0 0 8px #808080;
  }

li:hover {
	transform: scale(1.05);	/*画像の拡大率*/
	transition-duration: 0.2s;	/*変化に掛かる時間*/
}

  li h1{
    color: #fdfdfd;
  }
  
  li h2{
    color: #fdfdfd;
  }
  li h4{
    color: #fdfdfd;
  }
  
  li p{
    color: #fdfdfd;
  }

  .left{
    width: 40%;
    height: 100%;
    float: left;
    padding-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right{
    width: 40%;
    height: 100%;
    float: right;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text{
    text-align:center;
    margin: 0 auto;
  }

  li img{
    overflow : hidden;
    height: 600px;
  }

 .prof{
  width: 100%;
  height: 400px;
  margin-top: 30px;
  margin-bottom: 50px;
  }
  .prof .left{
    width: 50%;
    height: 100%;
    float: left;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .prof .right{
    width: 40%;
    height: 100%;
    float: right;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prof img{
    max-width: 70%;
    max-height: 100%;
    border-radius: 25px;
  }
  
  .prof .text{
    text-align: left;
  }
  
  .bold{
    font-weight: bold;
  }
  
  .two{
    width: 45%;
    border-radius: 25px;
  }

@media screen and (max-width: 1366px) and (orientation: landscape) { 
    h1 {
      font-size: 46px;
    }
    h2{
      font-size: 28px;
    }
  
    h3{
      font-size: 20px;
    }

    h4{
      font-size:16px;
    }
  
    p{
      font-size: 14px;
    }

  main{
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 2%;
    padding-left: 2%;
  }
  .work{
  height: 350px;
  }

  li img{
    height: 500px;
  }
}
