h1 {
  color: #0b0b1b;
  font-size: 60px;
  margin: 5px
}
h2{
  color: #0b0b1b;
  font-size: 40px;
}

h3{
  color: #0b0b1b;
  font-size: 28px;
}
h4{
  color: #0b0b1b;
  font-size:20px;
  margin: 3px;
}

p{
  color: #0b0b1b;
  font-size: 18px;
  margin: 0;
}

body {      
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  background-color:#f7f7ff;
  margin: 0;
}

main{
  background-color:#feffff;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 150px;
  padding-right: 3%;
  padding-left: 3%;
  margin-bottom: 100px;
}
.top{
  width: 100%;
  height: 600px;
  overflow : hidden;
  background: linear-gradient( #dac50c, #fcb64e );
  background-repeat: no-repeat;
  background-position: center;
}
.top h2 {
  color: #fdfdfd;
}
.top h3{
    color: #fdfdfd;
}

.top h4{
  color: #fdfdfd;
}

ul{
  list-style: none;
  padding: 0;
}

.pos{
  width: 40%;
}

.ex{
  width: 100%;
  height: 450px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 15px;
  background-color: #fff2ce;
}
.ex .left{
  width: 45%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}
.ex .right{
  width: 45%;
  height: 100%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}

.ex img{
  max-height: 100%;
}

.twocontents{
  display: flex;
  flex-wrap:wrap;
}
.twocontents li {
  width: calc(100%/2);
  padding:0 5px;
  box-sizing:border-box;
}
.twocontents li img {
  max-width:100%; /*画像のはみだしを防ぐ*/
  height: auto; /*画像の縦横比を維持 */
}

.work-two{
  width: 100%;
  height: 600px;
  margin-top: 130px;
  margin-bottom: 130px;
}

.work{
  width: 100%;
  height: 450px;
  margin-top: 130px;
  margin-bottom: 130px;
}

.work img{
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
  border-radius: 15px;
}

.work .left{
  width: 60%;
}

.work .right{
  width: 40%;
}

.left{
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right{
  width: 50%;
  height: 100%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text{
  text-align: left;
  width: 80%;
}

.menu{
  height: 100px;
  margin-bottom: 150px;
}

.link ul{
  list-style: none;
  padding: 0;
  width: 100%;
}

.link li{
  background-color: #f7f7ff;
  box-shadow: 0 0 8px #adadad;
  border-radius: 15px;
  display: inline-block;
  width: 200px;
  padding: 30px;
  transition-duration: 0.2s;	/*変化に掛かる時間*/
  text-align: center;
}
  
.link li:hover {
  transform: scale(1.05);	/*画像の拡大率*/
  transition-duration: 0.2s;	/*変化に掛かる時間*/
  text-align:center;
}
.link a{
  text-decoration: none;
}

.link img{
  width: 85%;
  height: auto; /*画像の縦横比を維持 */
  margin: 0 auto;
}

#next{
  float: right;
  margin-right: 7%;

}
#back{
  float: left;
  margin-left: 7%;
}

/*pc2*/
@media screen and (max-width: 1366px) and (orientation: landscape) { 
  h1 {
    font-size: 58px;
  }
  h2{
    font-size: 38px;
  }

  h3{
    font-size: 24px;
  }

  h4{
    font-size:18px;
  }

  p{
    font-size: 16px;
  }

main{
  margin-left: 5%;
  margin-right: 5%;
  padding-right: 2%;
  padding-left: 2%;
}
.work{
height: 350px;
}
}
