
  ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  h1{
    color: #06061d;
    font-size: 120px;
  }

  h2{
    color: #06061d;
    font-size: 46px;
  }

  h3{
    color: #06061d;
    font-size: 26px;
    margin-top: 5px;
    margin-bottom: 0px;
  }

  h4{
    color: #1f1f27;
    font-size:18px;
    position: relative;
    padding: 0.25em 0;
  }

  h4:after {
    content: "";
    display: block;
    height: 2px;
    background-color: #1f1f27;
    /*
    background: -webkit-linear-gradient(to right, #b2f6ff,#4cebd5);
    background: linear-gradient(to right, #b2f6ff, #4cebd5);
    */
  }

  p{
    color: #06061d;
    margin-top: 5px;
    font-size: 16px;
  }
  
  body {      
    background-color: #f7f7ff;
    margin: 0;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 5%;
  }

  .phoneimg{
    width: 15%;
    height: auto;
  }

  .illustration{
    width: 100%;
    margin-top: 5%;
  }
  
  .main{
    background-color: #feffff;
    padding: 2%;
  }

  .contents {
    height: 400px;
    overflow: hidden;
    width: 70%;
    background-color: #ECFAFB;
    margin-top: 3%;
  }
  
  .slide{
    width: 50%;
    height: auto;
  }

  .contents img{
    margin-top : 7%;
    width: 95%;
  }

  .contents h3{
    margin-top: 25px;
  }

  .left {
    float: left;
    height: 400px;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .right {
    float: right;
    width: 50%;
    height: 400px;
  }
  .text {
    text-align: left;
  }

  

.fadein-left{
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px);
  opacity: 0;
}
.fadein-left.active{
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
.fadein{
  -webkit-transition: all .8s linear;
  -o-transition: all .8s linear;
  transition: all .8s linear;
  opacity: 0;
}
.fadein.active{
  opacity: 1;
}

.cp_link {
	padding: 15px;
	background-image: linear-gradient(to right, #fefeff 50%, #06061d 50%);
	background-position: 0 0;
	background-size: 200% auto;
	transition: .3s;
  border:  2px solid #06061d;
  text-decoration: none;
	color: #06061d;

}

.cp_link:hover {
	background-position: -100% 0;
	color: #fff;
}




@media screen and (max-width: 896px) { 
  h1{
    color: #06061d;
    font-size: 75px;
  }

  h2{
    color: #06061d;
    font-size: 30px;
  }

  h3{
    color: #06061d;
    font-size: 18px;
  }

  h4{
    color: #06061d;
    font-size:18px;
  }

  p{
    font-size: 10px;
  }

  .link{
    font-size: 10px;
    line-height: 20px;
    width: 50px;
  }

}
